<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a class="<%= path === '/home-page' ? 'active' : '' %>" href="/">Home</a></li>
                    <li class="main-header__item"><a class="<%= path === '/payment-page' ? 'active' : '' %>" href="/payment">Payment</a></li>
                </ul>
            </nav>
        </header>

        <main class="main-page">
            <h1> Hurray! <%= payer.fullname%> </h1>
            <p class="paragraph">
                You payment of <%= payer.amount %> was successful
                <a href="/"> Back to homepage</a>
            </p>
        </main>

    </body>
</html>




